<launch>
    <arg name="manager_name" default="nodelet_manager" />
    <node pkg="nodelet" type="nodelet" name="$(arg manager_name)" args="manager" output="screen"/>

    <rosparam file="$(find integrated_navigation)/config/filtering/error_state_kalman_filter.yaml" command="load" />
    <rosparam file="$(find integrated_navigation)/config/filtering/complementary_filter.yaml" command="load" />
    <rosparam file="$(find integrated_navigation)/config/sensor/sensor.yaml" command="load" />
    <!-- <node pkg="nodelet" type="nodelet" name="Ky102nDriverNodelet"
          args="load integrated_navigation/Ky102nDriverNodelet $(arg manager_name)" output="screen">
    </node>

    <node pkg="nodelet" type="nodelet" name="NovatelDriverNodelet"
          args="load integrated_navigation/NovatelDriverNodelet $(arg manager_name)" output="screen">
    </node> -->

    <node pkg="nodelet" type="nodelet" name="InsDriverNodelet"
          args="load integrated_navigation/InsDriverNodelet $(arg manager_name)" output="screen">
    </node>

    <node pkg="nodelet" type="nodelet" name="SinsGnssFilteringNodelet"
          args="load integrated_navigation/SinsGnssFilteringNodelet $(arg manager_name)" output="screen">
    </node>

    <node pkg="nodelet" type="nodelet" name="SystemControlNodelet"
              args="load integrated_navigation/SystemControlNodelet $(arg manager_name)" output="screen">
        </node>
</launch>