<launch>

<node name="navit_controller_node" pkg="navit_controller" type="navit_controller_node" 
      output="screen" >
      launch-prefix="gdb -ex start --args" 
    <rosparam file="$(find navit_controller)/config/test.yaml" command="load" />
    <rosparam file="$(find navit_controller)/config/costmap_params.yaml" command="load" />
</node>


</launch>
