log4j.logger.ros.navit_auto_dock=INFO,navit_auto_dock_log
log4j.appender.navit_auto_dock_log=org.apache.log4j.RollingFileAppender
log4j.appender.navit_auto_dock_log.MaxFileSize=10MB
log4j.appender.navit_auto_dock_log.MaxBackupIndex=5
log4j.appender.navit_auto_dock_log.Threshold=INFO
log4j.appender.navit_auto_dock_log.File=${HOME}/wiener/log/navit_auto_dock.log
log4j.appender.navit_auto_dock_log.layout=org.apache.log4j.PatternLayout
log4j.appender.navit_auto_dock_log.Append=true
log4j.appender.navit_auto_dock_log.ImmediateFlush=false 
log4j.appender.navit_auto_dock_log.layout.ConversionPattern = [%-5p] [%-23d{yyyy/MM/dd HH:mm:ss:SSS}{GMT+8}] [%C:%L]: %m%n

log4j.logger.ros.dock_perception=INFO
log4j.logger.ros.dock_diff_graceful_controller=DEBUG
log4j.logger.ros.final_dock=INFO
log4j.logger.ros.dock_fg100_controller=INFO
