log4j.logger.ros.move_base=INFO,move_base_log
log4j.appender.move_base_log=org.apache.log4j.RollingFileAppender
log4j.appender.move_base_log.MaxFileSize=10MB
log4j.appender.move_base_log.MaxBackupIndex=5
log4j.appender.move_base_log.Threshold=INFO
log4j.appender.move_base_log.File=${HOME}/ws/navigation_ws/log/move_base.log
log4j.appender.move_base_log.layout=org.apache.log4j.PatternLayout
log4j.appender.move_base_log.Append=true
log4j.appender.move_base_log.ImmediateFlush=true 
log4j.appender.move_base_log.layout.ConversionPattern = [%-5p] [%-23d{yyyy/MM/dd HH:mm:ss:SSS}] [%l]: %m%n

log4j.logger.ros.global_planner=INFO,global_planner_log
log4j.appender.global_planner_log=org.apache.log4j.RollingFileAppender
log4j.appender.global_planner_log.MaxFileSize=10MB
log4j.appender.global_planner_log.MaxBackupIndex=5
log4j.appender.global_planner_log.Threshold=INFO
log4j.appender.global_planner_log.File=${HOME}/ws/navigation_ws/log/global_planner.log
log4j.appender.global_planner_log.layout=org.apache.log4j.PatternLayout
log4j.appender.global_planner_log.Append=true
log4j.appender.global_planner_log.ImmediateFlush=true 
log4j.appender.global_planner_log.layout.ConversionPattern = [%-5p] [%-23d{yyyy/MM/dd HH:mm:ss:SSS}] [%l]: %m%n
