<launch>
  <node name="auto_dock" pkg="navit_auto_dock" type="navit_auto_dock_node" output="screen"> launch-prefix="gdb -ex run --args">
    <rosparam file="$(find navit_auto_dock)/config/fg100/approach_dock.yaml" command="load" />
    <rosparam file="$(find navit_auto_dock)/config/fg100/perception.yaml" command="load" />
    <rosparam file="$(find navit_auto_dock)/config/fg100/filter.yaml" command="load" />
    <rosparam file="$(find navit_auto_dock)/config/fg100/final_dock.yaml" command="load" />
  </node>
</launch>
