log4j.logger.ros.state_lattice_planner=INFO,state_lattice_planner_log
log4j.appender.state_lattice_planner_log=org.apache.log4j.RollingFileAppender
log4j.appender.state_lattice_planner_log.MaxFileSize=10MB
log4j.appender.state_lattice_planner_log.MaxBackupIndex=5
log4j.appender.state_lattice_planner_log.Threshold=INFO
log4j.appender.state_lattice_planner_log.File=${HOME}/wiener/log/state_lattice_planner.log
log4j.appender.state_lattice_planner_log.layout=org.apache.log4j.PatternLayout
log4j.appender.state_lattice_planner_log.Append=true
log4j.appender.state_lattice_planner_log.ImmediateFlush=false 
log4j.appender.state_lattice_planner_log.layout.ConversionPattern = [%-5p] [%-23d{yyyy/MM/dd HH:mm:ss:SSS}{GMT+8}] [%C:%L]: %m%n
