<launch>

    <arg name="output" default="screen"/>
    <arg name="rviz" default="true"/>
    <arg name="test" default="no_test"/>
    <arg name="record" default="true"/>

    <!--  ************** Global Parameters ***************  -->
    <!--    <param name="/use_sim_time" value="true"/>-->

    <node name="map_server" pkg="map_server" type="map_server"
          args="$(find ipa_boustrophedon_explorator)/maps/yjh_test_3.png 0.05"/>

    <node pkg="tf" type="static_transform_publisher" name="base_footprint_to_map_tf" output="screen"
          args="0 0 0 0 0 0 map base_footprint 100"/>

    <node pkg="tf" type="static_transform_publisher" name="base_link_to_base_footprint_tf" output="screen"
          args="0 0 0 0 0 0 base_footprint base_link 100"/>

    <!-- Server -->
    <node pkg="navit_planner" type="navit_planner_node" name="navit_planner_node" output="$(arg output)">
        <rosparam file="$(find ipa_boustrophedon_explorator)/test/boustrophedon_explorator_planner_test.yaml"
                  command="load"/>
    </node>

    <!-- Client -->
    <node pkg="ipa_boustrophedon_explorator" type="boustrophedon_explorator_planner_test"
          name="boustrophedon_explorator_planner_test_node" output="$(arg output)">
    </node>

</launch>
