%log4j.debug=true

log4j.appender.all_log_appender=org.apache.log4j.RollingFileAppender
log4j.appender.all_log_appender.File=/opt/yjh/j110/log/all_logs.log
log4j.appender.all_log_appender.MaxFileSize=10MB
log4j.appender.all_log_appender.MaxBackupIndex=5
log4j.appender.all_log_appender.append=true
log4j.appender.all_log_appender.Threshold=WARN
log4j.appender.all_log_appender.layout=org.apache.log4j.PatternLayout
log4j.appender.all_log_appender.layout.ConversionPattern=%d [%-5p] [%c] [%M:%L] - %m%n

log4j.appender.node_file_appender=org.apache.log4j.RollingFileAppender
log4j.appender.node_file_appender.File=/opt/yjh/j110/log/${ROS_NODE}.log
log4j.appender.node_file_appender.MaxFileSize=10MB
log4j.appender.node_file_appender.MaxBackupIndex=5
log4j.appender.node_file_appender.append=true
log4j.appender.node_file_appender.Threshold=INFO
log4j.appender.node_file_appender.layout=org.apache.log4j.PatternLayout
log4j.appender.node_file_appender.layout.ConversionPattern=%d [%-5p] [%c] [%M:%L] - %m%n

log4j.rootLogger=INFO, all_log_appender, node_file_appender

log4j.appender.app_appender=org.apache.log4j.RollingFileAppender
log4j.appender.app_appender.File=/opt/yjh/j110/log/app.log
log4j.appender.app_appender.MaxFileSize=10MB
log4j.appender.app_appender.MaxBackupIndex=10
log4j.appender.app_appender.append=true
log4j.appender.app_appender.Threshold=DEBUG
log4j.appender.app_appender.layout=org.apache.log4j.PatternLayout
log4j.appender.app_appender.layout.ConversionPattern=%d [%-5p] - %m%n
log4j.logger.app=DEBUG, app_appender